.*
!.gitignore
compile_commands.json
!.clang-format
*.csv
*.png
*.jpg
*.pyc
image_processing_test
training_data
yolo_model/images
yolo_model/labels
yolo_model/dataset.yaml
assets/universal_robots_ur5e/*